<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="" class="form-label">{{field.label}}:</label>

        {% if field.field.widget.input_type == 'file' and field.value %}
        <br>
            <img src="{{MEDIA_URL}}/images/{{field.value}}" width="100">
         <br>
        {% endif %}
        <input
                type="{{field.field.widget.input_type}}"
                class="form-control"
                name="{{field.name}}"
                id=""
                placeholder="{{field.label}}"
                value="{{ field.value | default:'' }}">
    </div>
    <div class="col-12 help-text">{{field.errors}}</div>
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Enviar Info">
     <a class="btn btn-primary" href="{% url 'books' %}" role="button">Cancelar</a>
</form>